.accordion {
    background-color: white;
    color: antiquewhite;
    padding: 28px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 20px;
    transition: 0.8s;
  }

 .accordion:hover { 
    background-color: #ccc; 
  }
  
  .information {
    padding: 0 25px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

 